<!doctype html>
<head>
{#<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />#}
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
{#            {{ bootstrap.load_css() }}#}
{#            <link rel="stylesheet" type="text/css" href="/flask_example/node_modules/bootstrap/dist/css/bootstrap.min.css">#}
            <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='code_checker/bootstrap.min.css') }}'>
        {% endblock %}


        <title>{% if title %} {{ title }} {% else %}Анализатор кода{% endif %}</title>
    {% endblock %}
</head>

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>

{% endblock %}

{% block scripts %}
    <!-- Optional JavaScript -->
{#    {{ bootstrap.load_js() }}#}
{#    <script type="text/javascript" src="/flask_example/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    <script type="text/javascript" src='{{ url_for('static', filename='code_checker/bootstrap.min.js') }}'></script>
{% endblock %}