{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field, render_form_row , render_hidden_errors %}

{% block app_content %}
    <h1 align="center">Поиск плагиата</h1>
    <hr align="center" width="1000" size="2" color="#ff0000" />
    <form method="post">
    {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    {{ render_field(form.fullname, class="form-control") }}
    {{ render_form_row([form.task], col_class_default='col-md-7') }}
    {{ render_form_row([form.submit, form.rebuild_sub], button_map ={'submit': "success", 'rebuild_sub': "outline-success"}, col_class_default='col-md-2') }}
{#    {{ render_field(form.submit, button_style="success") }}#}
</form>

{% endblock %}
