{% extends "base.html" %}

{% block app_content %}

    <h2 align="center">Результат анализа для <strong>{{ src }}</strong></h2>
    <hr align="center" width="1000" size="2" color="#ff0000" />
    {% if suspicious_res %}
    <h3 align="center"><small class="text-muted">Подозрительно</small></h3>
    {% endif %}
    {% for s_res in suspicious_res %}
        <div id="accordion" align="center">
            <div class="card" style="width: 600px" align="center">
                <div class="card-header bg-danger" id="heading{{ s_res['dst'] }}">
                    <h5 class="mx-auto " style="width: 320px">
                        <button class="btn btn-link btn-danger text-white btn-lg" data-toggle="collapse" data-target="#collapse{{ s_res['dst'] }}" aria-expanded="false" aria-controls="collapse{{ s_res['dst'] }}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg> {{ s_res['dst'] }}
                        </button>
                    </h5>

                </div>
                <div id="collapse{{ s_res['dst'] }}" class="collapse" aria-labelledby="heading{{ s_res['dst'] }}" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Совпадение имен функций:</strong> {{ s_res['same_func_name'] }}</li>
                            <li class="list-group-item"><strong>Совпадение имен переменных в функциях:</strong> <br> {% for proc in s_res['same_var_name'] %} {{ proc[0] }}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            </svg>{{ proc[1] }}: {{ proc[2] }} <br> {% endfor %}</li>
                            <li class="list-group-item"><strong>Совпадение матриц функций:</strong> {{ s_res['compare_func_matrix'] }}</li>
                            <li class="list-group-item"><strong>Совпадение матриц переменных:</strong> {{ s_res['compare_var_matrix'] }}</li>
                            <li class="list-group-item"><strong>Совпадение по количеству функций:</strong> {{ s_res['comp_num_func'] }}</li>
                            <li class="list-group-item"><strong>Совпадение по количеству переменных:</strong> <br>{% for proc in s_res['comp_num_var'] %} {{ proc[0] }}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            </svg>{{ proc[1] }}: {{ proc[2] }} <br> {% endfor %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    <br>
    {% if results %}
    <h3 align="center"><small class="text-muted">Совпадений не найдено</small></h3>
    {% endif %}
    {% for res in results %}
        <div id="accordion" align="center">
            <div class="card" style="width: 600px" align="center">
                <div class="card-header bg-success" id="heading{{ res['dst'] }}">
                    <h5 class="mb-0" style="width: 320px" >
                        <button class="btn btn-link btn-success text-white btn-lg" data-toggle="collapse" data-target="#collapse{{ res['dst'] }}" aria-expanded="false" aria-controls="collapse{{ res['dst'] }}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                            </svg> {{ res['dst'] }}
                        </button>
                    </h5>
                </div>
                <div id="collapse{{ res['dst'] }}" class="collapse" aria-labelledby="heading{{ res['dst'] }}" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Совпадение имен функций:</strong> {{ res['same_func_name'] }}<br></li>
                            <li class="list-group-item"><strong>Совпадение имен переменных в функциях:</strong><br> {% for proc in res['same_var_name'] %} {{ proc[0] }}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            </svg>{{ proc[1] }}: {{ proc[2] }} <br> {% endfor %}<br></li>
                            <li class="list-group-item"><strong>Совпадение матриц функций:</strong> {{ res['compare_func_matrix'] }}<br></li>
                            <li class="list-group-item"><strong>Совпадение матриц переменных:</strong> {{ res['compare_var_matrix'] }}<br></li>
                            <li class="list-group-item"><strong>Совпадение по количеству функций:</strong> {{ res['comp_num_func'] }}<br></li>
                            <li class="list-group-item"><strong>Совпадение по количеству переменных:</strong> <br> {% for proc in res['comp_num_var'] %} {{ proc[0] }}<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            </svg>{{ proc[1] }}: {{ proc[2] }} <br> {% endfor %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <br>
<h5 align="center"><a class="btn btn-outline-success" href="/code_checker" role="button">На главную</a></h5>

{% endblock %}