{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field, render_form_row , render_hidden_errors %}


{% block app_content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1 class="font-weight-bold">Выберете файлы, которые будут проверяться: <strong>{{ src }}</strong></h1>
        {% for vars in varnames %}
            <div><p class="h2"><b class="badge badge-secondary text-wrap " style="width: 12rem;">{{ vars[0] }}</b>
                {{ render_field(vars[1], class="h4 form-check control-label text-secondary", form_type='inline') }}

                {% for error in vars[1].errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p></div>
        {% endfor %}
        {{ render_field(form.sub, button_size="btn btn-success") }}
    </form>

{#    <p class="form-check control-label text-"#}
{% endblock %}

